
.intro {
  font-family: Times, serif;
  color: rebeccapurple;
  font-size: 200%;
  border: 5px solid blue;
  padding: 10 px;
  margin: 15px;
  width: 50%;
  height: 50px;
  float: left;
  back-ground-color: magenta;
}
.firsttext {
  background-color: #eee8aa
  color: green;
  border: none;
  font-family: Arial,sans-serif;
}
.mainbody {
  background-color: #a8db4d;
  color: black;
  font-family: Calibri, sans-serif;
}


