
.intro {
  font-family: Times, serif;
  color: rebeccapurple;
  font-size: 200%;
  border: 5px solid blue;
  padding: 20 px;
  margin: 10px;
  width: 50%;
  height: 10%;
  float: left;
  back-ground-color: magenta;
}
.firsttext {
  background-color: rgb(213,195,181)
  color: green;
  font-family: Georgia,serif;
}
.mainbody {
  background-color: #a8db4d;
  color: black;
  font-family: Calibri, sans-serif;
}


